{% extends 'base.html.twig' %}

{% set title = 'Elliot CARON - Informations' %}

{% block body %}
    <section>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col text-center text-primary">
                    <h1>Ma formation</h1>
                    <hr class="hrbrown"/>
                    <br/>
                </div>
            </div>
            <div class="card-group">
                <div class="row">
                {% for formation in formations %}
                    <div class="card-deck">
                        <div class="card" style="width: 35rem;">
                            <img src="{{ asset('/images/' ~ formation.image.fichier) }}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{ formation.nom }}</h5>
                                <p class="card-text">{{ formation.lieu }}</p>
                                <div class="card-footer">
                                    <span class="blockquote-footer">{{ formation.dateDebut }} -> {{ formation.dateFin }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <br/>
    </section>

    <section class="background_color_section_1">
        <br/>
        <div class="container">
            <div class="row">
                <div class="col text-center text-white">
                    <h1>Qualités</h1>
                    <hr class="hrwhite"/>
                    <br/>
                </div>
            </div>
            <div class="row">
                {% for qualite in qualites %}
                    <div class=" col-md-4 col-sm-12 text-center">
                        <h3>{{ qualite.nom }}</h3>
                        <i class="{{ qualite.icone.classe }} fa-4x"></i>
                        <div>
                            <p>{{ qualite.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br/>
    </section>

    <section>
        <br/>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col text-center text-primary">
                    <h1>Loisirs</h1>
                    <hr class="hrbrown"/>
                    <br/>
                </div>
            </div>
            <div class="row text-center">
                {% for loisir in loisirs %}
                    <div class="col-md-4 col-sm-12">
                        <h3>{{ loisir.nom }}</h3>
                        <br/>
                        <img src="{{ asset('/images/' ~ loisir.image.fichier) }}" width="235" height="120">
                        <p><br/>{{ loisir.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    <br/>
    </section>
{% endblock %}
