{% extends 'base.html.twig' %}

{% form_theme formDemande 'bootstrap_4_layout.html.twig' %}

{% set title = 'Elliot CARON' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <section class="background_color_section_2">
        <br/>
        <div class="container">
            <h1 class="text-primary text-center">Me contacter</h1>
            <hr class="hrbrown"/>
            {{ form_start(formDemande) }}

            {{ form_row(formDemande.nom_entreprise,{'label' : "Nom de l'entreprise",
                'required' : true,
                'attr' : {'placeholder' : "Nom de l'entreprise"}
            }) }}
            {{ form_row(formDemande.objectif,{'label' : "Pourquoi me contacter ?",
                'required' : true,
                'attr' : {'placeholder' : "Pourquoi me contacter ?"}
            }) }}
            {{ form_row(formDemande.email,{'label' : "Email",
                'required' : true,
                'attr' : {'placeholder' : "Email"}
            }) }}
            {{ form_row(formDemande.telephone,{'label' : "Numéro de téléphone (optionnel)",
                'required' :false,
                'attr' : {'placeholder' : "Numéro de téléphone"}
            }) }}

            {{ form_end(formDemande) }}
        </div>
        <br/>
    </section>


{% endblock %}