{% extends 'base.html.twig' %}

{% set title = 'Elliot CARON' %}

{% block header %}
    {{ parent() }}
    <header id="banner" class="masthead d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="text-center col">
                    <h1 class="text-uppercase display-3 text-white">Elliot Caron</h1>
                    <h3 class="text-primary">Étudiant en informatique</h3>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <section class="background_color_section_1">
        <br/>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center text-white">
                    <h1 class="text-uppercase">Qui suis-je ?</h1>
                    <hr class="hrwhite"/>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p> Je m'appelle Elliot Caron.
                        <br/>Je suis étudiant en informatique à l'IUT de Lens.
                        <br/>J'ai 19 ans. >> <a href="{{ path('aboutme') }}" class="text-primary">En savoir plus sur moi</a>
                    </p>
                </div>
            </div>
        </div>
        <br/>
    </section>

    <section>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col text-center text-primary">
                    <h1 class="text-uppercase">Mes Projets</h1>
                    <hr class="hrbrown"/>
                </div>
            </div>
            <br/>
            <div class="row text-center">
                {% for projet in projets %}
                    <div class="col-lg-3 col-md-4 col-sm-6 my-2 card h-600 border-white">
                        <a href="{{ path('projet',{'id': projet.id})}}">
                            <h4>{{ projet.nom }}</h4>
                            <img src="{{ asset('/images/' ~ projet.couverture.fichier) }}" class="card-img-top border border-secondary">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}


