<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {{ title }}
        </title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>

    <header>
        {% block header %}
            <nav class="navbar sticky-top bg-light">
                <a class="navbar-brand text-left" href="{{ path('home') }}">Elliot Caron</a>
                <a class="navbar-brand text-left" href="{{ path('aboutme') }}">A propos de moi</a>
                <a class="navbar-brand text-left" href="{{ path('contactme') }}">Me contacter</a>
                <a class="navbar-brand text-left" href="#">Mes projets</a>
            </nav>
        {% endblock %}
    </header>

    <body>
    {% block body %}
    {% endblock %}

    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}
    {% endblock %}
    </body>

    <footer class="background_color_section">
        {% block footer %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1>Si vous avez besoin de plus d'information</h1>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <a href={{ asset('/images/CV.pdf') }}><button type="button" class="btn btn-primary btn-lg">Télécharger mon C.V.</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <br/>
                        <h1>Ou contactez moi</h1>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 text-center">
                        <h4>Logo tel <br/><a href="tel:+33781278939">+33 7 81 27 89 39</a></h4>
                        <br/>
                    </div>
                    <div class="col-lg-4 col-md-12 text-center">
                        <h4>Logo mail <br/><a href="mailto:?to=Elliot.caron13@gmail.com">elliot.caron13@gmail.com</a></h4>
                        <br/>
                    </div>
                    <div class="col-lg-4 col-md-12 text-center">
                        <h4>Logo linkedin <br/><a href="www.linkedin.com/in/elliot-caron">Linkedin</a></h4>
                        <br/>
                    </div>
                </div>
            </div>
        {% endblock %}
    </footer>
</html>
