<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {{ title }}
        </title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
        {% endblock %}
    </head>

    <header>
        {% block header %}
            <section>
                <nav class="navbar sticky-top bg-light ">
                    <a class="navbar-brand text-left text-primary" href="{{ path('home') }}"><h3>Elliot Caron</h3></a>
                    <a class="navbar-brand text-left text-secondary" href="{{ path('aboutme') }}"><h4>A propos de moi</h4></a>
                    <div class="nav-item dropdown">
                        <button class="btn text-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4>Mes projets</h4></button>
                        <div class="dropdown-menu">
                            {% for projet in stejorp %}
                                <a class="dropdown-item" href="{{ path('projet',{'id': projet.id})}}">{{ projet.nom }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <a class="navbar-brand text-left text-secondary" href="{{ path('contactme') }}"><h4>Me contacter</h4></a>
                </nav>
            </section>
        {% endblock %}
    </header>

    <body>
    {% block body %}
    {% endblock %}

    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}
    {% endblock %}
    </body>

    <footer class="background_color_section_1">
        {% block footer %}
            <br/>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <br/>
                        <a href="{{ path('contactme') }}" class="text-white"><h1>Contactez moi</h1></a>
                        <hr class="hrwhite"/>
                        <br/>
                    </div>
                </div>
                <div class="row offset-2">
                    <div class="col-5 text-center">
                        <a href={{ asset('/images/CV_FR.pdf') }}><button type="button" class="btn btn-primary btn-lg">Télécharger mon C.V.</button></a>
                    </div>
                    <div class="col-4 text-center">
                        <a href={{ asset('/images/CV_AN.pdf') }}><button type="button" class="btn btn-primary btn-lg">Download my C.V.</button></a>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-4 col-md-12 text-center">
                        <p style="font-size: 24px"><a href="tel:+33781278939" class="text-dark"><i class="fas fa-mobile-alt fa-3x" style="padding-bottom: 10px"></i> <br/>+33 7 81 27 89 39</a></p>
                        <br/>
                    </div>
                    <div class="col-lg-4 col-md-12 text-center">
                        <p style="font-size: 24px"><a href="mailto:?to=Elliot.caron13@gmail.com" class="text-dark"><i class="fas fa-at fa-3x" style="padding-bottom: 10px"></i> <br/>elliot.caron13@gmail.com</a></p>
                        <br/>
                    </div>
                    <div class="col-lg-4 col-md-12 text-center">
                        <p style="font-size: 24px"><a href="https://www.linkedin.com/in/elliot-caron/" class="text-dark"><i class="fab fa-linkedin-in fa-3x"
                                style="padding-bottom: 10px"></i> <br/>www.linkedin.com/in/elliot-caron</a></p>
                        <br/>
                    </div>
                </div>
            </div>
        {% endblock %}
    </footer>
</html>
